body {
    background-color: rgba(0, 0, 0, 0.04);
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media (max-width:770px){

    .container{
        margin:0 10%;
    }    

    .image{
        width:100%;
    }
}